
.flex{
    display: flex;
    padding: 40px 0;
    
}
.imgAbout{
    width: 550px;
    margin-right: 50px;
}
.titleColor{
    color: #0095e5;
    font-size: 40px;
}
.pColor{
    margin-top: 10px;
    color: #373838;
    font-size: 22px;
}
span{
    color: #00acb1;
    font-weight: bold;
    
}


@media screen and (max-width: 950px) {
    .imgAbout{
        width: 450px;
        margin-right: 50px;
    }
    .flex{
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }
    .about-single{
        margin: 20px 0;
    }
}